.out_box {
	overflow: hidden;
}
.content {
	font-size: .8rem;
}

.box {
	display: inline-block;
	position: relative;
}

.info_item {
	margin-bottom: 2rem;
	position: relative;
}

.info_input {
	width: 15rem;
	border-bottom: 1px solid #93732b;
	height: 1.5rem;
	padding-left: .5rem;
}
.confirm_change {
	background: #93732b;
	color: #fff;
	height: 2rem;
	line-height: 2rem;
	padding: 0 2rem;
	display: inline-block;
	float: right;
}
.tip {
	display: none;
}
.hover {
	position: absolute;
	bottom: 0;
	right: -110%;
	color: #93732b;
	height: 2rem;
	line-height: 2rem;
	background: #FBF7F4;
	padding: 0 1rem;
	display: none;
}
.hover a {
	color: #93732b;
}
.succeed_icon, .alert_box p, .resend_tip {
	display: inline-block;
	vertical-align: middle;
}

.succeed_icon {
	width: .8rem;
	height: .8rem;
	background: url('images/succeed_icon.png') center no-repeat;
	background-size: 100% auto;
}
.erro_tip,
.tip {
	position: absolute;
	bottom: 0;
	left: 105%;
	white-space: nowrap;
	color: #93732b;
	display: none;
}

.erro_tip {
	background: url('./images/errow_icon.png') left center no-repeat;
	background-size: .8rem auto;
	padding-left: .9rem;
}
.access {
	position: absolute;
	left: 105%;
	bottom: 0;
	width: .8rem;
	height: .8rem;
	background: url('./images/choose_yes.png') center no-repeat;
	background-size: .8rem auto;
	display: none;
}

.right_content>h2 {
	height: 4.5rem !important;
}

@media only screen and (max-width: 768px) {
	.right_content>h2 {
		display: none;
	}
	.box {
		display: block;
		padding: 0 2%;
		font-size: .9rem;
	}
	.info_input {
		display: block;
		box-sizing: border-box;
		width: 100%;
		border: 1px solid #93732b;
		height: 2.5rem;
		line-height: 2.5rem;
	}
	.info_item {
		margin-bottom: 1.2rem;
	}
	.tip,
	.erro_tip {
		position: static;
		color: #93732b;
		font-size: .7rem;
	}
	.confirm_change {
		display: block;
		width: 100%;
		text-align: center;
		padding: 0;
	}

	.hover {
		text-align: center;
		background: rgba(0, 0, 0, .6);
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 3;
		display: none;
	}
	.alert_box {
		position: absolute;
		background: #fff;
		padding: 2rem;
		left: 50%;
		top: 8.5rem;
		transform: translateX(-50%);
	    -ms-transform: translateX(-50%);    
	    -moz-transform: translateX(-50%);   
	    -webkit-transform: translateX(-50%); 
	    -o-transform: translateX(-50%);
	}
	.succeed_icon {
		display: block;
		width: 2rem;
		height: 2rem;
		margin: 0 auto;
		background: url('images/succeed_icon.png') center no-repeat;
		background-size: 100% auto;
	}
	.alert_box p {
		font-size: 1.3rem;
		line-height: 2rem;
		white-space: nowrap;
		letter-spacing: 5px;
	}
	.resend_tip {
		margin-top: 2rem;
	}
}