.media_show{
	display:none;
}
a:hover{
	color:#93732b;
}
.content{
	font-size:.8rem;
	padding:0px 2rem;
}
.return_box{
	width:85%;
	float:left;
}
.return_cont{
	margin-bottom:1.5rem;
}
.return_tit{
	font-size:.9rem;
}

.return_goods{
	padding-bottom:9rem;
}
.return_goods ul{
	width:100%;
	position:relative;
	border:1px solid #93732b;
	border-top:0px;
	-moz-box-sizing: border-box;  
	 -webkit-box-sizing: border-box; 
	 -o-box-sizing: border-box; 
	 -ms-box-sizing: border-box; 
	 box-sizing: border-box;
}
.return_goods li{
	-moz-box-sizing: border-box;  
	 -webkit-box-sizing: border-box; 
	 -o-box-sizing: border-box; 
	 -ms-box-sizing: border-box; 
	 box-sizing: border-box;
}
.return_goods .lists_th{
	background:#93732b;
	height:1.4rem;
}
.return_goods .return_state{
	padding-left:2rem;
	width:40%;
	position:absolute;
	right:0px;
	top:3.5rem;
}
.return_state h1{
	float:left;
	font-size:1.4rem;
}
.return_goods .return_prompt{
	padding:1rem;
	background:#FAF8F4;
	position:absolute;
	width:100%;
	bottom:-9rem;
}
.return_address{
	position:relative;
}
.return_address>div:nth-of-type(1){
	width:5em;
	position:absolute;
	left:0px;
	top:0px;
}
.return_address>div:nth-of-type(2){
	padding-left:5em;
}

.return_goods .choose_express{
	padding-left:2rem;
	position:absolute;
	width:40%;
	right:0px;
	bottom:3.5rem;
}
.express_cont{
	display:inline-block;
}
.express_cont h1{
	display:none;
	margin-bottom:1rem;
}
.express_cont>div{
	margin-bottom:1rem;
}
.choose_express input{
	width:12em;
	border-bottom:1px solid #93732b;
	padding:0px 1rem 0px.4rem;
	line-height:1.5rem;
	-moz-box-sizing: border-box;  
	 -webkit-box-sizing: border-box; 
	 -o-box-sizing: border-box; 
	 -ms-box-sizing: border-box; 
	 box-sizing: border-box;
}
.express_select_box{
	position:relative;
}
.express_select,.express_num>div{
	-moz-box-sizing: border-box;  
	 -webkit-box-sizing: border-box; 
	 -o-box-sizing: border-box; 
	 -ms-box-sizing: border-box; 
	 box-sizing: border-box;
}
.express_num{
	position:relative;
}
.select_tip,.express_num span{
	margin-right:.3rem;
	line-height:1.5rem;
}
.exp_company{
	width:12em;
	display:inline-block;
	border-bottom: 1px solid #93732b;
    padding: 0px 1rem 0px.4rem;
    line-height: 1.5rem;
    position:relative;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
	cursor:pointer;
}
.exp_company:after{
	content:"";
	position:absolute;
	right:0px;
	top:50%;
	margin-top:-3px;
	width:12px;
	height:6px;
	background:url(images/light_arrow_down.png) #fff no-repeat right center;
	background-size:12px 6px;
}
.express_select{
	position:relative;
}
.express_list_box{
	width:100%;
    font-size: .8rem;
    position: absolute;
    left: 1px;
    text-align:center;
    margin-left: -1px;
    margin-right: -1px;
    display: none;
    z-index: 99;
    -moz-box-sizing: border-box;  
	 -webkit-box-sizing: border-box; 
	 -o-box-sizing: border-box; 
	 -ms-box-sizing: border-box; 
	 box-sizing: border-box;
}
.express_stay{
	margin-top:-1px;
	border: 1px solid #93732b;
	background: #fff;
	width:100%;
	padding:.5rem .5rem .5rem 0px;
	 -moz-box-sizing: border-box;  
	 -webkit-box-sizing: border-box; 
	 -o-box-sizing: border-box; 
	 -ms-box-sizing: border-box; 
	 box-sizing: border-box;
}
.express_list{
	position: relative;
    margin: 0;
    padding: 0px;
    width: 100%;
    height: 150px;
   overflow: hidden;
}
.express_list .content{
	padding:0px .5rem;
}
.express_list dd{
	padding:.5rem 0px;
}
input.choose_btn{
	width:4rem;
	height:1.6rem;
	background:#93732b;
	padding:0px;
	margin:0px;
	color:#fff;
	cursor:pointer;
}


.return_goods .good{
	display:table;
	padding:1.5rem;
	border-right:1px solid #93732b;
	width:60%;
}
.return_goods .good_img{
	display:table-cell;
	vertical-align: top;
	width:11rem;
}
.return_goods .good_img img{
	width:100%;
}
.return_goods .goods_txt{
	display:table-cell;
	vertical-align: top;
	margin-top:1rem;
	padding-left:1.3rem;
}
.return_goods .return_txt{
	position:absolute;
	padding-left:1.3rem;
	left:12.5rem;
	bottom:1.5rem;
}

.return_help{
	text-align: right;
	position:absolute;
	bottom:2rem;
	right:2rem;
}
.return_help_btn{
	display:inline-block;
	padding-right:1rem;
	background:url("images/questionmark.png") no-repeat right center;
	background-size:auto 80% ;
}



@media only screen and (max-width: 768px) {
	.media_hidden{
		display:none;
	}
	.media_show{
		display:block;
	}
	.content{
		padding:0px;
	}
	.left_menu_list_box{
		display:none;
	}
	.return_box{
		width:100%;
	}
	.return_cont{
		margin-bottom:.7rem;
		padding-bottom:0px;
	}
	/*choose_express*/
	.return_goods .choose_express{
		position:static;
		width:100%;
		padding:.7rem;
		background:#FAF8F4;
	}
	.express_cont{
		display:block;
	}
	.express_cont h1{
		display:block;
	}
	.express_cont>div{
		margin-bottom:.5rem;
	}
	.express_select,.express_num>div{
		width:100%;
		padding-right:5rem;
		position:absolute;
		left:5rem;
	}
	.express_list_box{
		padding-right:5rem;
	}
	.choose_express input,.exp_company{
		border:1px solid #93732b;
		padding:.5rem 15px;
		margin:0px;
		width:100%;
	}
	.exp_company:after{
		right:1rem;
	}
	.express_num span{
		margin-top:.5rem;
		margin-bottom:.5rem;
	}
	.return_goods .return_prompt{
		position:static;
	}

	.return_goods ul{
		border:0px;
	}
	.return_goods li{
		margin-bottom:1rem;
	}
	.return_goods .good{
		width:100%;
		border:1px solid #93732b;
		padding:.5rem;
	}
	.return_goods .good_img{
		width:6rem;
	}
	.return_goods .goods_txt{
		padding-left:5%;
	}
	.return_goods .goods_txt p{
		padding:.2rem 0px;
	}
	.return_goods .return_state{
		width:100%;
		position:static;
		padding:.7rem;
		background:#FAF8F4;
	}
	.return_state h1{
		font-size:1.2rem;
	}
	.return_goods .return_txt{
		width:100%;
		position:static;
		padding:.7rem;
	}
	.return_goods .return_help{
		width:100%;
		position:static;
		padding:.7rem;
		background:#FAF8F4;
	}

}